.container {
    border: 2px solid black;
    height: auto;
    min-height: 650px;
    background-color: #9333FF;
    
}

.input__box, h1 {
    text-align: center;
}

.input__box {
    padding-left: 125px;
}

.icons {
    background-color: red;
}

#add{
    font-size: 35px;
    float: right;
    position: relative;
    bottom: 50px;
    right: 4.25em;
}

#delete{
    font-size: 35px;
    float: right;
    position: relative;
    bottom: 50px;
    right: 60px;
}

#edit{
    position: relative;
    float: right;
    top: -49px;
    right: -35px;
}

#textbox{
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: #f00;
    text-indent: 9px;
}

ul{
    list-style-type: none;
}


.checkbox {
    margin-inline-end: 20px;
    position: relative !important;
    top: 17px !important;
    left: 14px;
    width: 20px;
    height: 20px;
   
}
.checkbox:checked {
    background-color: skyblue;
}

.itemList p {
    margin: 5px 0 8px 15px;
    position: relative !important;
    top: -13px !important; 
    left: 32px !important;
    font-family: cursive;
    font-size: 20px;
    width: 30em;
    border-radius: 10px;
    background-color: antiquewhite;
    padding-inline-start: 20px;
} 

p:focus{
    background-color: darkturquoise;
    outline: 0px solid transparent;

}

.itemList{
    background-color: antiquewhite;
    margin-top: 20px;
    width: 95%;
    border-radius:15px;
}


@media only screen and (max-width: 600px) {
    
    .icons {
        position: relative;
        top: 50px;
        right: 80px;
    }

    .input__box {
        padding: 60px;
    }

    .itemList p {
        width: 285px;
        padding-inline-start: 0;
    }
  }

    


